.user, .password {
    color: var(--cor0);
    text-align: left;
    margin: 30px 40px;    
    background-color: none;
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: 4px;
}

.material-icons {
    color: var(--cor0);
    font-size: 2em;
    padding: 15px;
    border-bottom: 2px solid var(--cor1);
}

form {
    margin-bottom: 70px;
}

form > div > input, form > input {
    padding: 15px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid var(--cor1);
    font-size: 20px;
    color: var(--cor0);
}

form > input {
    border: none;
}

input::placeholder {
    color: var(--cor1);
}

.botao {
    padding: 10px;
    width: 85%;
    cursor: pointer;
    background-color: var(--cor0);
    color: #F2F2F8;
    margin: 10px;
    border-radius: 4px;
    transition: .2s all;
}

.botao:hover {
    transform: scale(1.03);
}

.botao:focus {
    background-color: var(--cor2);
    color: var(--cor0);
}