a {
    padding: 10px;
    color: var(--cor3);
    border-radius: 10px;
    transition: .1s all;
}

a:hover {
    color: var(--cor2);
    
}

.opcoes > div > p {
    padding: 50px 0px;
    
}

.opcoes > div > span {
    border-bottom: 1px solid #fff;
}

.entrada {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.google, .facebook {
    background-color: var(--cor0);
    padding: 15px;
    border-radius: 10px;
    transition: all .2s;
    cursor: pointer;
    margin-bottom: 30px;
    box-shadow: 1px 2px 2px var(--cor0);
    font-weight: bold;
}

.google:hover, .facebook:hover {
    transform: scale(1.07);
}