@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    /* PALETA DE CORES */
    --cor0: #4f2b52;
    --cor1: #321135;
    --cor2: #D0CFEC;
    --cor3: #F2F2F8;
    --cor4: #946690;
    --cor6: #619c82;

    --fonte-padrao: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
    
}

body {
    background-color: var(--cor4);
    color: var(--cor3);
}

.login {
    transition: all .3s;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: width 0.4s, height 0.4s;
    text-align: center;
}

.imagem {
    display: block;
    border-radius: 50%;
    width: 40%;
    margin: auto;
    padding: 30px 0px;
    /* background: var(--cor0) center center no-repeat fixed;
    background-size: auto; */
}

h1 {
    font-size: 3.5em;
    
}

h2 {
    font-size: 1.5em;
    margin: 50px 0px;
}





