a {
    padding: 10px;
    color: var(--color0);
    border-radius: 10px;
    transition: .1s all;
}

a:hover {
    color: var(--color2);
    
}

.aside > .or > span {
    border-bottom: 1px solid var(--color1);
    display: inline-block;
    margin: 10px;
}

.or {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 0px 40px;
}

.join  {
    margin: 20px;
}

.join > p > a {
    padding: 20px 0px;
}