@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    /* PALETA DE CORES */
    --cor0: #9aa56e;
    --cor1: #CCD6A6;
    --cor2: #DAE2B6;
    --cor3: #ecf4d5;
    --cor4: #f7ffe9;
    --cor5: #ffffff;
    
    
    --fonte-padrao: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
    
}

body {
    background-color: var(--cor5);
    color: var(--cor0);
    height: 95vh;
}

.login {
    transition: all .3s;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: width 0.4s, height 0.4s;
    text-align: center;
}

.imagem {
    display: inline;
    border-radius: 50%;
    width: 600px;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    padding: 30px 0px;
}

h1 {
    font-size: 3.5em;
    
}

h2 {
    font-size: 1.5em;
    margin: 50px 0px;
}





